<suite name="M4Suite" parallel="tests" thread-count="3">
    <test name="LoginYRegistro_Chrome">
        <classes>
            <class name="tests.chrome.LoginTest"/>
            <class name="tests.chrome.RegisterTest"/>
        </classes>
    </test>
    <test name="LoginYRegistro_Firefox">
        <classes>
            <class name="tests.firefox.LoginTest"/>
            <class name="tests.firefox.RegisterTest"/>
        </classes>
    </test>
</suite>
